.ArticleBlockCodeComponent {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--inverted-bg-color);
  padding: 20px;
  position: relative;
}

.ArticleBtnCopy {
  position: absolute;
  top: 20px;
  left: 600px;
}
