.Wrapper {
  display: flex;
}

.Label {
  margin-right: 5px;
}

select {
  padding: 2px 8px 2px 2px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5%;
  background-color: transparent;
}

option {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}
