.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ea;

  --primory-color: #049664;
  --secondary-color: #04ff04;
  --inverted-primory-color: #043a96;
  --inverted-secondary-color: #001fde;
}