.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0e0e75;
    --primory-color: #043a96;
    --secondary-color: #001fde;
    --inverted-primory-color: #049664;
    --inverted-secondary-color: #04ff04;
}